.app-center-container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullWidthContainer{
    width: 100%;
}

.dropdown-menu{
    left: -49px;
}

.about-page-background{
    background-image: url(../../../assets/about-background.jpg);
    height: 85vh;
    display: flex;
    justify-content: center;
}
.about-content{
    width: 50%;
    background: rgba(0, 255, 200, 0.501);
    height: 60%;
    text-align: justify;
    margin-top: 122px;
    border: 3px solid;
    border-radius: 26px;
    padding: 10px;
}
.home-background-img{
    width: 100%;
    margin: 10px;
}
.home-content{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 3em;
    text-align: justify;
    padding: 1em;
}
.home-content-btn{
    margin: 1em;
}

.app-body{
    min-height: calc(100vh - 28px);
}

.app-footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px){
    .about-page-background{
        height: 100%;
    }
    .about-content{
        width: 100%;
        margin  : 0.5em;
    }
} 